:root {
  --name-blue: #00b4ff;
  --table-black: #222222;
  --table-light-blue: #e8f0fe;
}
p {
  margin: 0;
  padding: 0;
}
.bold {
  font-weight: 800;
}
.centered-text {
  text-align: center;
}
.sticky-left {
  left: 0;
  position: sticky;
}
